<div class="skeleton-cards"
     [class.fade-out]="hasDataLoaded">

  <ion-card *ngFor="let card of skeletonCards">
    <ion-item>

      <ion-avatar item-start>
        <img [src]="card.imgAvatar">
      </ion-avatar>

      <h2>
        {{card.name}}
      </h2>
      <p>
        {{card.dob}}
      </p>
    </ion-item>

    <img [src]="card.imgCover">

    <ion-card-content>
      <p>
        {{card.quote}}
      </p>
    </ion-card-content>

    <ion-row>
      <ion-col text-center>
        <button ion-button
                clear
                small
                icon-start>
          <ion-icon name='thumbs-up'></ion-icon>
          <span class="skeleton-button-text">{{card.likes}}</span>
        </button>
      </ion-col>

      <ion-col text-center>
        <button ion-button
                clear
                small
                icon-start>
          <ion-icon name='text'></ion-icon>
          {{card.comments}}
        </button>
      </ion-col>

      <ion-col align-self-center
               text-center>
        <ion-note>{{card.createdAt}}</ion-note>
      </ion-col>
    </ion-row>

  </ion-card>
</div>